@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
nav.navbar.navbar-expand-lg {
  background-color: #34495e;
}
ul.pagination.justify-content-center {
  margin-bottom: 20px;
}

a.navbar-brand {
  color: #bdc3c7;
}
a.nav-link {
  color: #bdc3c7;
}
a.nav-link:hover {
  color: white;
}
a.navbar-brand:hover {
  color: white;
}

a.nav-link:active {
  color: white;
}
a.nav-link:focus {
  color: white;
}

ul.pagination.justify-content-center {
  padding: 20px;
}
.__next {
  background-color: #ecf0f1;
}
div.col-md-auto {
  padding-top: 30px;
}
div.Home_main__nLjiQ {
  padding: 10px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #34495e;
}
a.page-link {
  color: #bdc3c7;
  background-color: #34495e;
}
a.page-link:hover {
  color: white;
  background-color: #34495e;
}
button.navbar-toggler {
  background-color: #bdc3c7;
}
span.navbar-toggler-icon {
  background-color: #34495e;
}
span.navbar-toggler.collapsed {
  background-color: #bdc3c7;
}
div.navbar-collapse.collapse {
  font-size: x-large;
  padding-left: 35%;
}
li.page-item.disabled {
  color: #34495e;
}
